* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body,#root {
  height: 100%;
  width: 100%;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color:whitesmoke;
    padding: 20px;
}

main h1{
    font-size: 28px;
}

form{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

form input{
    height: 40px;
    padding-left: 10px;
    border: none;
    color: transparent;
    border-radius: 10px;
}

form button{
    padding-block: 5px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color:red;
}

